* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../images/bg-for-home);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
    font-family: 'Zen Dots', cursive
}

.page {
    background-image: url(../images/section2-bg.jpg);
    background-position: center;
    min-height: 100vh;
    background-size: cover;

}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(4, 8, 30, 0.5), rgb(4, 8, 30, 0.5)), url(../images/header-bgm.jpg);
    background-position: center;
    background-size: cover;
}

.img {
    margin-left: 50px;
    padding-bottom: 20px;
    width: 40px;
}

form input {
    /* padding: 30px; */
    border-radius: 13px;
    margin-top: 40px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    outline: none;
    height: 40px;
}

#search {
    position: relative;
    top: 10px;
    /* left: -193px; */
    right: 193px;
    height: 30px;
    width: 20px;
}
.search i{
    background-color: white;
    position: relative;
    top: 1px;
    left: 24px;
}
.row ul {
    display: flex;
}

.row ul li {
    list-style: none;
}

.search1 img {
    position: relative;

}

.row ul li a {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.row ul li a:hover {
    background-color: #FC766AFF;
    border-radius: 10px;
}

.row {
    margin-top: 50px;
    margin-right: 30px;

}

/* body */


.section1 h1 {
    text-align: center;
    margin-top: 200px;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Roboto Slab', serif;
    font-family: 'Zen Dots', cursive
}

.section1 h1{
    width: 70%;
    height: auto;
    /* background-color: red; */
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


@keyframes example {
    0% {
        /* background-color: lavenderblush; */
        left: 0px;
        top: 0px;
    }

    25% {
        /* background-color: goldenrod; */
        left: 200px;
        top: 0px;
    }

    50% {
        /* background-color: skyblue; */
        left: 200px;
        top: 200px;
    }

    75% {
        /* background-color: green; */
        left: 0px;
        top: 200px;
    }

    100% {
        /* background-color: lightgoldenrodyellow; */
        left: 0px;
        top: 0px;
    }
}

.section2 {
    background-image: linear-gradient(rgb(10, 1, 0, 0.7), rgb(4, 8, 0, 0.7)), url(../images/peckock.jpg);
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    text-align: center;
    margin-top: 200px;
    color: white;
    position: absolute;
    top: 600px;
    font-size: 20px;

}

.section2 h1 {
    margin-top: 130px;
    font-size: 25px;
    /* border: 2px solid white; */
    /* background-color: lightpink; */
    
    width: 250px;
    text-align: center;
    margin-left: 630px;
}
.section2 #go:hover{
    transform:scale(1.5);
    color: white;
    letter-spacing: 3px;
}

#go a {
    color: white;
    text-decoration: none;
    font-family: fantasy;

}


.section3 {
    margin-top: 300px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Zen Dots', cursive
}


/* footer */

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 800px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}